#pnt{
    border: 7px rgb(255, 136, 243) solid;
    background-color: white;}
    body{
        background-image: url'https://wallpaperaccess.com/full/423702.jpg';
    background-repeat: no-repeat;
    background-size: cover;
    }